@import 'tailwindcss';

:root {
  --background: #070000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-gotham-pro: var(--font-gotham-pro);
  --font-kode-mono: var(--font-kode-mono);
  --font-golos-text: var(--font-golos-text);
  --leading-subpup: 1.1;
  --leading-pup: 1.2;
  --leading-extrasubpup: 1.3;
  --leading-extrapup: 1.5;
  --breakpoint-b27: 25rem;
  --breakpoint-b50: 50rem;
  --breakpoint-2xl: 90rem;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  @apply mx-auto max-w-360 px-3 lg:px-5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.my-swiper-container {
  overflow: visible !important;
}

.swiper {
  overflow: visible !important;
}
